body{
    margin:0%;
}

header{
    text-align: center;
    height: 70px;
}

nav{
    margin-left: 3%;
    margin-right: 3%;
}

.navigation{
    margin: 3%;
    margin-top: 0%;
    font-size: 0.9rem;
}

.dropbt{
    font-size: 0.9rem;
    font-weight: bold;
    height: 2em;
    letter-spacing: 0.3em;
    vertical-align: top;
}

.dropdown{
    float:right;
    margin-right: -3%;
}

.dropdown-content{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    vertical-align: middle; 
}

.dropdown-content a {
    color: white;
    padding: 3% ,4%;
    text-decoration: none;
    display: block;
    font-size: 0.8rem;
    font-weight: bold;
    width: 80%;
    height: 2em;
}

.dropbt:hover +.dropdown-content{
    display: block;
}

.dropdown-content:hover{
    display: block;
}

.dropdown-content a:hover {
    background-color: #1c1c1c
}

img.list{
    position:relative;
    top:2px
}

img.manu{
    position: relative;
    top:5px;
    right:5px;
}

main{
    background-color: #1c1c1c;
    margin-top: 100px;
    margin-left: 2%;
    width: 98%;
    margin-right: 2%;
    margin-bottom: 50px;
    color: white;
}

h1{
    font-size: 30px;
    font-weight: bold;
    margin-left: 15%;
    padding-top: 30px;
    padding-bottom: 30px;
    letter-spacing: 0.3em;
    line-height: 1.5em;
    text-align: center;
    position: relative;
    right: 10%;
}

img.camera{
    height: 12%;
    width: 12%;
    position: relative;
    top: 10px;
    right: 0px;
}

table{
    margin-left: 5%;
    margin-right: 5%;
}

td{
    padding:2.5%;
    padding-top: 4%;
    vertical-align: top;
}

img.pic{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

div.pic{
    height: 100px;
    width: 100px;
}

p.title{
    font-size: large;
    font-weight: bold;
    letter-spacing: 0.2em;
    margin-bottom: 3%;
}

p.description{
    overflow:hidden;
    font-size: 12px;
    text-overflow: ellipsis;
    display:-webkit-box;
    -webkit-line-clamp:4;
    -webkit-box-orient:vertical;
    letter-spacing: 0.2em;
    line-height: 1.4em;
}

img.button{
    width: 90%;
    height: 90%;
}

button.modify,button.delete{
    border: none;
    padding:0px;
    outline:none;
    background-color: #1c1c1c;
    margin-top: 0px;
    margin-left: 0%;
    float: right;
    cursor:pointer;
    width: 30px;
    height: 30px;
}

tr{
    border: 3px #ff9800 solid;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

#page{
    margin-top: 30px;
    margin-left: 20%;
    margin-bottom: 30px;
    font-size: 15px;
}

#page a{
    color: white;;
    margin:10px;
    font-weight: bold;
}

#page a.pagenum{
    border-bottom: white 1px solid;
}

footer{
    color: gray;
    margin-top: 80px;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    margin-bottom: 50px;
    position: relative;
    letter-spacing: 0.1em;
    text-align: center;  
    font-size: 10px;
}